<div class="row">
    <div class="col-6">
       <%= form_with(model: work, local:true) do |f| %>

<% if work.errors.any? %>

    <div id="error_explanation" class="alert alert-warning" >
      <ul>
        
<% work.errors.full_messages.each do |msg| %>

          <li>
<%= msg %>
</li>
        
<% end %>

      </ul>
    </div>
  
<% end %>
<div class="form-group">
    <%= f.label :title, 'Title' %>
    
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :content, 'Content' %>
    
    <%= f.text_field :content, class: 'form-control' %>    
</div>


<%= f.submit 'submit', class: 'btn btn-info btn-lg active' %>

<% end %> 
    </div>
</div>

